<div class="row"
     [hidden]="todos.length > 0">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="default-title">{{locales.DefaultTodolistTitle}}</h1>
  </div>
</div>


<div class="row"
     *ngIf="todos.length > 0">
  <div class="col-md-9 col-md-offset-1">

      <div *ngFor="let todo of todos">
        <app-todo-list-item
          [todo]="todo"
          (toggleComplete)="onToggleTodoComplete($event)"
          (remove)="onRemoveTodo($event)"></app-todo-list-item>
        <mat-divider></mat-divider>
      </div>

  </div>
</div>
