<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-7">
    <mat-form-field class="header-input">
      <input matInput
             required pattern=".+"
             #name="ngModel"
             placeholder="{{locales.HeaderPlaceholderTitle}}"
             [(ngModel)]="newTodo.title">
    </mat-form-field>
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-2">
    <button class="header-add-button"
            mat-raised-button
            color="primary"
            [disabled]="name.invalid"
            (click)="addTodo()">
      {{locales.AddButtonTtitle}}
    </button>
  </div>

  <div class="col-md-1"></div>
</div>
